<h1>New Article</h1>
<div id="articleForm">
	<%= render 'form' %>
</div>

<div id="notice"></div>
<div id="createdArticle">
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/articles', values);
      posting.done(function(data) {
      	var articleHtml = getInfoFromPost(data);
      	$("#createdArticle").html(articleHtml)
      	$("#articleForm, h1").hide()
        $("#notice").text("Article Successfully Created")
      });
    });
  });


  function getInfoFromPost(data){
  	let articleData = JSON.parse(data);
  	var newArticle = new Article(articleData["id"], articleData["name"], articleData["description"], articleData["link"], articleData["topics"], articleData["department"], articleData["user"]);
  	return newArticle.format()
  }

  function Article(id, name, description = "", link = "", topics = [], department, user){
  	this.id = id;
  	this.name = name;
  	this.description = description;
  	this.link = link;
  	this.topics = topics;
  	console.log(this.topics)
  	this.department = department["name"];
  	this.author = user["name"];
  	this.format = function (){
  		var articleHtml = `<h1>${this.name}</h1>` +
  		`<h3>University ${this.department} Department</h3>` +
  		setTopics(this.topics) +
  		`<p>${this.description}</p>` +
  		`<a id='articleLink' href=${this.link}>URL Link</a>`+
  		`<p>Submitted by ${this.author}</p>`
  		return articleHtml
  	}
  }

  function setTopics(data){
  	console.log(data)
	  var topicHtml = "<p>Topics: "
	  data.forEach(function(topic) {
	    topicHtml += ("--" + topic["name"]);
	  });
	  topicHtml += "</p>";
	  return topicHtml;
	}

</script>