<h1 id="header">New Article</h1>
<div id="articleForm">
	<%= render 'form' %>
</div>

<div id="notice"></div>
<div id="createdArticle">
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/articles', values);
      posting.done(function(data) {
      	var articleHtml = getInfoFromPost(data);
      	$("#createdArticle").html(articleHtml)
      	$("#articleForm, #header").hide()
        $("#notice").text("Article Successfully Created")
      });
    });
  });


  function getInfoFromPost(data){
  	let articleData = JSON.parse(data);
  	var newArticle = new Article(articleData);
  	return newArticle.format()
  }

  function Article(attributes){
    for (var key in attributes) {
        this[key] = attributes[key]
    }
  }

  Article.prototype.format = function() {
    return (`
      <h1>${this.name}</h1>
      <h3>University ${this.department.name} Department</h3>
      ${setTopics(this.topics)}
      <p>${this.description}</p>
      <a id='articleLink' href=${this.link}>URL Link</a>
      <p>Submitted by ${this.user.name}</p>
    `)
  }

  function setTopics(data){
  	console.log(data)
	  var topicHtml = "<p>Topics: "
	  data.forEach(function(topic) {
	    topicHtml += ("--" + topic["name"]);
	  });
	  topicHtml += "</p>";
	  return topicHtml;
	}

</script>