<h1>Topics listing</h1>

<% @topics.each do |topic| %>
  <div>
  	<h4><%= topic.name %></h4>
  	<p><%= topic.department.name%> Department</p>
  	<% topic.article_topics.each do |articletopic| %>
		<% if articletopic.comment != nil %>
			<div>
				Partaining to "<%= articletopic.article_name %>"<br>
				Comment: <%= articletopic.comment %>
			</div>
		<%end%>
	<%end%>
	-------------------------------------------------------------
  </div>
<% end %>