<h1>University Scientific Articles</h1>
<p><a href="/articles/new" class="btn btn-primary">Submit Article</a></p><br>

<% @topics.each do |article| %>
  <div>
  	<h4><%= topic.name %></h4>
  </div>
<% end %>