<h1>Topics listing</h1>

<% @topics.each do |topic| %>
  <div>
  	<h4><%= topic.name %></h4>
  	<p><%= topic.department.name%> Department</p>
  	<% topic.article_topics.each do |articletopic| %>
		<% if articletopic.comment != nil %>
			<p>Comment: <%= articletopic.comment %></p>
		<%end%>
	<%end%>
	-------------------------------------------------------------
  </div>
<% end %>