<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %></p>
  </div>
<% end %>

<h1><%= @topic.name %></h1>
<% @topic.article_topics.each do |articletopic| %>
	<% if articletopic.comment != nil %>
		<p>Pertaining to "<%= articletopic.article_name%>"
		<p>Comment: <%= articletopic.comment %></p>
		<p>------------------------------------------------------<p>
	<%end%>
<%end%>

<p></p>
