<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %></p>
  </div>
<% end %>

<h1><%= @topic.name %></h1><br>
<h4>Associated Articles</h4>
<div id="articleList" data-id="<%=@topic.id%>"><div>





<script type="text/javascript" charset="utf-8">

$( document ).ready(function() {
  listArticles();
});


function listArticles(){
	var topicId = parseInt($("#articleList").attr("data-id"))
	var articalsUrl = "/topics/" + topicId + "/articles.json"
	$.get(articalsUrl, function(articles) {
		articles.forEach(function(article) {
			$("#articleList").append(`
				<div>
					<h3>${article.name}</h3>
					<p>Written by ${article.user.name}</p>
					<a href="/articles/${article.id}">View</a><br>
					-----------------------------------------------<br><br>
				</div>
			`)
		})
	});
}

function renderArticles(articles){
	articles.forEach(function(article) {
		var articleUrl = "/articles/" + article["id"] + ".json"
		$.get(articleUrl, function(data) {
			$("#articleList").append(`${data["name"]}<br>` +
	    	`Written by ${data["user"]["name"]}<br>`+
	    	`<a href="/articles/${data["id"]}">View</a><br>`+
	    	"-----------------------------------------------<br><br>"
	    	)
		});
	}); 
}
</script>
