<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %></p>
  </div>
<% end %>

<h1><%= @topic.name %></h1>
<%= @topic.articletopics.each do |articletopic| %>
	<% if articletopic.comment %>
		<p><%= articletopic.comment %></p>
	<%end%>
<%end%>

<p></p>
