<h1>University Scientific Articles</h1>

<% @articles.each do |article| %>
  <div>
  	<h4><%= article.name %></h4>
  	<p>Submitted by <%= article.user.name %></p>
  	<p><a href="/articles/<%= article.id %>">View</a></p>

    -----------------------------------------------------------------------------------------------
  </div>
<% end %>